<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .breadcrumb .breadcrumb-item a {
            color: lightgray; /* Use text-muted color */
            text-decoration: none !important; /* Remove underline */
        }

        .breadcrumb .breadcrumb-item:last-child a {
            color: #2B0320 !important; /* Apply red color */
        }

        body {
            font-family: "Vollkorn", serif;
        }
    </style>
</head>
<body class="font-family: Vollkorn">
{% block nav %}
    <div class="border border-bottom border-light fixed-top" style="background-color: #ffffff">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                <span class="navbar-brand col-8"><svg xmlns="http://www.w3.org/2000/svg" width="2.2rem" height="2.2rem"
                                                      fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
  <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
</svg><i>Unique</i></span>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'recentAccessories' %}"
                                       onclick="setActiveLink(this)">Најново</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'home' %}" onclick="setActiveLink(this)">Почетна</a>
                            </li>
                            {% if user.is_authenticated and not user.is_superuser %}

                                <li class="nav-item mt-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#784D59"
                                         class="bi bi-cart-check" viewBox="0 0 16 16">
                                        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                </li>
                                <li class="nav-item">

                                    <form method="get" action="{% url 'sale' %}">
                                        {% csrf_token %}
                                        <input class="border-0 mt-2" type="submit"
                                               style="background-color: transparent; "
                                               value="Кошничка">

                                    </form>

                                </li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'addAccessory' %}"
                                       onclick="setActiveLink(this)">Додани нов производ
                                    </a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li class="nav-item mx-1 mt-2">{{ user.username }}</li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'logout' %}"
                                       onclick="setActiveLink(this)">Одјава</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'login' %}"
                                       onclick="setActiveLink(this)">Најава</a>
                                </li>
                                <li class="nav-item mt-2 text-muted">/</li>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" href="{% url 'register' %}"
                                       onclick="setActiveLink(this)">Регистрација</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock nav %}
{#<div style="height: rem"></div>#}
{% block breadcrumps %}

{% endblock breadcrumps %}

{% block content %}

{% endblock content %}


</body>
</html>
